
.links{
    display: flex;
    padding: 10px;
}

.link{
    margin-right: 5px;
}

.footer-container{
    height: 100px;
    width: 100%;
    background-color: #347ab4;
    color:#ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom:0
}